/* 
desktop
*/
@media screen and (min-width: 992px){
 .container{
  max-width: 100%;
 }
}
/* 
tablet
*/
@media screen and (max-width: 991.99px){
 .container{
  width: 100%;
 }
 .col-60{
  max-width: 100%;
 }
 .card-body{
  display: flex;
  flex-direction: column;
 }
 .card-body .embed-video{
  max-width: 100%;
  flex-direction: column;
 }
 .recipe-details ul{
  display: flex;
  flex-wrap: wrap;
 }
 .recipe-details ul>li{
  width: calc(100%/3);
  margin: 20px 0px;
 }
 .row.socials{
  flex-wrap: nowrap;
 }
 .social-name{
  display: none;
 }

 /* 
 footer 
 */
 .footer-content{
  flex-direction: column;
 }
 .footer-content>*{
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  color: white;
}
 
}
/*
Smartphone
*/
@media screen and (max-width: 767.99px){
  /* 
  hero section with video - social - banner(hidden)
  */
 .logo--container{
  text-align: center;
 }
 .additional-info{
  display: none;
 }
 .main-title{
  font-size: 2rem;
 }
 .banner-hidden{
  display: none;
 }

 .row.socials{
  justify-content: space-between;
 }
 .icon-wrap{
  max-width: 100px;
 }
 .social-icon{
  padding: 1.3rem;
  max-width: 100%;
 }

 .col.w-20.icon-wrap{
  width: auto;
 }
 .recipe-details ul{
  display: block;
 }
}