/* 
reset rules
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

img{
  display: block;
  width: 100%;
}

a{
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}
ul{
  list-style: none;
}

html{
  font-family: "Montserrat", system-ui;
}
/* 
custom properties
*/
:root{ 
  --facebook-color: #1A77F3;
  --twitter-color: #009EFF;
  --instagram-color: #E884A9;
  --pinterest-color: #E62525;
  --youtube-color: #E62222;
  --text-grey: #b19999;
  --logo-color: #ff9614;
  --title-color: #493969;
}

/* 
font -- Nerko -- navbar logo
*/
.nerko-one-regular {
font-family: "Nerko One", cursive;
font-weight: 400;
font-style: normal;
}

/* 
general rules
*/
section{
  padding: 25px 0;
  
}
h1{
  margin-top: 20px;
}
.container{
  width: 1500px;
  margin: 0 auto;
  padding: 50px 25px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 25px 25px;
}
.row.socials{
 justify-content: space-between;
}

/* 
!box-shadows
*/
.card-body,
.social-icon {
  box-shadow: 1px 1px 5px var(--text-grey);
}

/* 
col width and general rules
*/

.col.w-60{
  max-width: 60%;
}
.col.w-100{
  max-width: 100%;
}
.col.w-20{
  max-width: 20%;
}
/*
container recipe section
*/


/* 
navbar style
*/
.logo--container{
  padding: 0.5em 1em;
  
}

.logo{
  font-size: 40px;
  color: var(--logo-color);
  text-transform: uppercase;
  font-family:"Nerko One", cursive;
  text-shadow: 1px 1px 2px var(--text-grey);
}

/* 
main section
*/
.recipe-type{
  color: var(--text-grey) ;
  font-size: 14px;
  text-transform: uppercase;
}

.main-title{
  font-size: 50px;
  font-weight: 800;
  color: var(--title-color);
}

/*
card
*/
.card-header{
  margin-bottom: 40px;
}
.card-body{
  display: flex;
  border-radius: 5px;
}
.card-body .embed-video{
  max-width: 60%;
}
.recipe-details{
  padding: 20px 40px;
}
.recipe-details h2{
  font-size: 24px;
}
.recipe-details ul>li{
  font-size: 14px;
  margin-top: 10px;
}
.recipe-details ul{
  padding: 20px 0;
}
/* 
embed video
*/
.embed-video img{
  aspect-ratio: 2/1
}
/* 
social links settings
*/
.social-icon{
  padding: 0 4em;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-radius: 999px;
}
.fa-facebook{
  color: var(--facebook-color);
}
.fa-twitter{
  color: var(--twitter-color);
}
.fa-instagram{
  color: var(--instagram-color);
}
.fa-pinterest{
  color: var(--pinterest-color);
}
.fa-youtube{
  color: var(--youtube-color);
}